server:
  port: 8081

spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/auth_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    org.springframework.security: INFO
