spring:
  application:
    name: payment-service

  config:
    import: configserver:http://localhost:8888

  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: health,info
