server:
  port: 8080
  address: 0.0.0.0

spring:
  application:
    name: eureka-server

  config:
    import: optional:configserver:http://config-server:8080

  cloud:
    config:
      fail-fast: false

eureka:
  client:
    register-with-eureka: false
    fetch-registry: false

management:
  endpoints:
    web:
      exposure:
        include: health,info

